<%- include('../partials/encabezado')-%> 
<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <h1>HISTORIAL</h1>
            <%- include('../partials/tabla') %>  
        </div>
        <button class="btn btn-success mt-3 mb-5"><a href="/" style="text-decoration: none; color: white">Volver al formulario</a></button>
    </div>
</body>