include ../partials/encabezado 
body
    div(class="container mt-3")
        div(class="jumbotron")
            h1(style="color:blue") HISTORIAL
                include ../partials/tabla
        button(class="btn btn-success mt-3 mb-5")
            a(href="/") Volver al formulario      
        
        